/*-------- google font --------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}


.category-button {
    align-items: center;
    appearance: button;
    background-color: gainsboro;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue", sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out, background-color .13s ease-in-out, opacity .13s ease-in-out, box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



.active {
    background-color: red;
    color: white;
}